<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>CrossFeats</title>

    <!-- Custom Font - -->
    <link href='https://fonts.googleapis.com/css?family=Oswald:300,700,400' rel='stylesheet' type='text/css'>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">

    <!-- Custom CSS inside CSS folder -->
    <link rel="stylesheet" href="css/style.css">

    

  </head>
  <body>

HELLO BOX!

<!-- Stack the columns on mobile by making one full-width and the other half-width -->
<div class="row">
  <div class="col-xs-6 col-md-4"><center>Frequencies</center></div>
  <div class="col-xs-12 col-md-8"><center>PRs</center></div>
</div>

<!-- Columns start at 50% wide on mobile and bump up to 33.3% wide on desktop -->
<div class="row">
  <div class="col-xs-6 col-md-4"><center>Benchmarks</center></div>
  <div class="col-xs-6 col-md-4"><center>Backsquat</center></div>
  <div class="col-xs-6 col-md-4"><center>Deadlift</center></div>
</div>

<!-- Columns are always 50% wide, on mobile and desktop -->
<div class="row">
  <div class="col-xs-6 col-md-4"><center>RX and weaknesses</center></div>
  <div class="col-xs-6 col-md-4"><center>Snatch</center></div>
  <div class="col-xs-6 col-md-4"><center>Clean and Jerk</center></div>
</div>


    <!-- JQuery script -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="js/jquery-1.11.0.min.js"></script>

    <!-- CHART JS -->
    <script src="js/Chart.js"></script>

    <!-- CUSTOM JS -->
    <script src="js/main.js"></script>

    <!-- slider JS -->
    <script src="js/slider.js"></script>

    <!-- tabs JS -->
    <script src="js/tabs.js"></script>

      </body>
</html>