/**************/
/* Custom CSS */
/**************/

body{
	background-color: #2C3E50;
	color: #E4F1FE;
  font-family: 'Oswald', sans-serif;
  font-weight: 500;

}


h1{
	text-align: left;
	margin-left: 30px; 
  font-family: 'Oswald', sans-serif;
  font-weight: 700;
}

h2{
  text-align: center;
  margin-left: 30px; 
  font-family: 'Oswald', sans-serif;
  font-weight: 700;
}

canvas{
margin: 0 auto;
  display: block;
}

h3 {
    text-align: right;
    font-size:80%;
}


.legend ul {
    list-style: none;
    padding:0;
    margin:0;
}

.legend li span{
  width: 10px;
  height: 10px;
  display: inline-block;
  border-radius: 50%;
  margin-right: 10px; 
}

.legend{
  float: right;
  margin-right: 30px; 
  color: #E4F1FE;
}


#morning {
  color: rgba(217,30,24,1);
  font-size:168%;
}

#afternoon {
  color: rgba(46,204,113,1);
  font-size:168%;
}

#evening {
  color: #6BB9F0;
  font-size:168%;
}

#question {
  color: #95A5A6;
  font-size:100%;
}

